

body{
    font-family: "Poppins", sans-serif;
}


input::placeholder{
    color: black ;
}

.timerText{
    font-size: 12px;
}

.subparagraph{
    font-size: 14px;
}

.logo{
    width: 100%;
}

/* mdias for timer and subparagraph */
@media (min-width: 768px) {
    .timerText{
        font-size: 14px;
    }
    .subparagraph{
        font-size: 18px;
    }

    .logo{
        width: 60px;
    }

    .title{
        font-size: 40px;
    }
    .subtitle{
        font-size: 30px;
    }
    .paragraph{
        font-size: 18px;
    }


}

.discount{
    font-size: 30px;
    font-weight: bold;
}

.banner-hero{
    background-image: url('https://images.unsplash.com/photo-1650091507687-5ea34d80e674?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 60vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.lamina{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}

.slider{
    height: 180px;
}

.carousel-container{
    width: 95%;
}

@media (min-width: 768px) {
    .slider{
        height: auto;
    }
    .footer{
        padding: 40px;
    }
}

.price{
    font-size: 14px;
    font-weight: semi-bold;
}

.discount{
    font-size: 16px;
    font-weight: semi-bold;
    
}

.input__text{
    padding: 15px 8px;
    border: none;
}


/* customer */
.customer{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.customer__img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.footer{
    background-color: #F1F1F1;
    padding: 20px;
}

.footer__container{
    width: 85%;
    margin: 0 auto;
}

.footer__links{
    text-decoration: none;
    color: black;
}

.footer__links:hover{
    transition: ease-in-out 0.3s;
    text-decoration: underline;
    color: #932121;
}



/* estilos para la pagina de sonido-accesorios.html */

.card__container{
    max-width: 375px;
    border: 1px solid rgba(76, 75, 75, 0.273);
    border-radius: 10px;
}
.card__img{
    max-width: 300px;
    object-fit: cover;
    object-position: top;
}

.card__img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.banner-hero-sonido_accesorios{
    background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/03/familia-viendo-disney-plus-1885289.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* estilos para la pagina VIP */

.banner-hero-vip{
    background-image: url('https://res.cloudinary.com/dy6x06uoe/image/upload/v1746463217/6056393_pxxlm2.jpg');
    height: 50vh;
    background-size: cover;
    /* background-position: 0% 30%; */
    background-position: center;
    width: 100%;
}

.VIP__offer{
    background-color: #A83338;
    position: absolute;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    right: 0;
    font-size: 12px;
}